option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "8080"
    MONGODB_URI: "mongodb+srv://zenex3298:6DTFSkKLxuDqRs5U@learninglabs.bbj2u.mongodb.net/documents?retryWrites=true&w=majority&tls=true"
    AWS_ACCESS_KEY_ID: "AKIATG6MGQZM23JWMCUX"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_REGION: "us-east-1"
    S3_BUCKET: "learning-lab-demo--bucket"
    CLOUND_FRONT_URL: "https://d1ob5sgwgyt044.cloudfront.net"
    REDIS_HOST: "127.0.0.1"
    REDIS_PORT: "6379"
    ACCESS_TOKEN_SECRET: "test-secret"
    NODE_ENV: "production"
